name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '7.5'

    - name: Build with Gradle
      run: |
        cd android_client
        gradle assembleRelease -PbackendUrl="https://myfirstrag-5.onrender.com/"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: android_client/app/build/outputs/apk/release/app-release.apk
